/* General Styling */
* {
	font-family: 'Inconsolata', monospace;
}

body {
    background-color: white;
}

.header {
    color: black;
    text-align: center;
    margin: auto;
}

.title {
    color: black;
    text-align: center;
    margin: 20px;
}

.form {
    text-align: center;
    margin: 1em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.button {
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: red;
    border: none;
}

.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    justify-content: center;
}

.book {
    margin: 1em;
    text-align: center;
    box-shadow: 10px 10px 20px #505050;

    background-color: white;
    border-radius: 4px;
    border-bottom-style:solid;
    border-bottom: 4px solid #fe0000;
}

.map {
    width: 700px; 
    height: 500px;

    margin-left: auto;
    margin-right: auto;
}

.marker {
    background-image: url('../img/map_marker_white.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.markerClose {
    background-image: url('../img/map_marker_green.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.markerHouse {
    background-image: url('../img/map_marker_house.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.availability {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    justify-items: stretch;
    justify-content: center;
}

.available {
    margin: 1em;
    text-align: center;
    box-shadow: 10px 10px 20px #505050;

    background-color: white;
    border-radius: 4px;
    border-bottom-style:solid;
    border-bottom:6px solid #2dc795;
}

.unavailable {
    margin: 1em;
    text-align: center;
    box-shadow: 10px 10px 20px #505050;
    background-color: white;
    border-radius: 4px;
    border-bottom-style:solid;
    border-bottom: 6px solid #c72d2d;
}

.cover {
    margin: 1em;
    height: 125px;
}

.description {
    margin: 10px;
}

/* Loader */
.lds-dual-ring {
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

/* Keyframes */
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

